<div class="club-page-screen" ng-controller="clubPageCtrl as vm">
  <div class="scrolling-content">
    <div class="picture">
      <div ng-include="'views/modules/touchslider.html'"></div>
    </div>
    <ul>
      <a ng-href="#/about">
        <li class="about"><div class="img"></div><span>О клубе</span></li>
      </a>
      <a ng-href="#/personnel_categories">
        <li class="personnel"><div class="img"></div><span>Наш персонал</span></li>
      </a>
      <a ng-href="#/news">
        <li class="news"><div class="img"></div><span>Наши новости</span></li>
      </a>
      <a ng-href="#/events">
        <li class="events"><div class="img"></div><span>Мероприятия</span></li>
      </a>
      <a ng-href="#/members">
        <li class="members"><div class="img"></div><span>Члены клуба</span></li>
      </a>
      <a ng-href="#/chat">
        <li class="chat"><div class="img"></div><span>Сообщения</span><div class="badge">15</div></li>
      </a>
      <a ng-href="#/privileges">
        <li class="privileges"><div class="img"></div><span>Привилегии</span></li>
      </a>
      <a ng-href="#/feedback">
        <li class="feedback"><div class="img"></div><span>Обратная связь</span></li>
      </a>
    </ul>
  </div>
</div>