<div class="registration-screen" ng-controller="passwordRecoveryCtrl as vm">
    <h1 class="header">Восстановление пароля</h1>
    <form class="tiny">
        <input-validate class="input-reg password">
            <input id="password" type="password" placeholder="Новый пароль" ng-model="vm.password"/>
        </input-validate>
        <input-validate class="input-reg password-confirm">
            <input id="password-confirm" data-confirmID="password" type="password" placeholder="Подтвердите пароль" ng-model="vm.passwordConfirm"/>
        </input-validate>
        <button id="submit-button" type="button" class="button" ng-click="vm.recoveryPasswordChangePassword()">Далее</button>
        <div class="comment" ng-show="vm.connectionError">Ошибка связи</div>
    </form>
    <div class="popup" ng-show="vm.passwordChangeSuccess">
      <div class="main">
        <img src="img/reservation-ok.png" alt="">
        <h3>Пароль успешно изменен</h3>
        <a href="#/authorization"><button class="button">Войти</button></a>
      </div>
    </div>
</div>