<div class="registration-screen" ng-controller="passwordRecoveryCtrl as vm">
  <h1 class="header">Восстановление пароля</h1>
  <form class="tiny">
    <h2 class="comment">На ваш номер {{vm.phone}} было выслано СМС с кодом подтверждения. Введите его ниже:</h2>
    <input-validate class="input-reg password">
        <input type="number" placeholder="Код подтверждения" ng-model="vm.code"/>
    </input-validate>
    <button id="submit-button" type="button" class="button" ng-click="vm.recoveryPasswordSendCode()">Далее</button>
    <div class="comment" ng-show="vm.connectionError">Ошибка связи</div>
    <div class="comment" ng-show="vm.wrongCode">Неправильный код</div>
  </form>
</div>