<div class="registration-screen">
    <h1 class="header">Восстановление пароля</h1>
    <form class="tiny">
        <h2 class="comment">Введите номер телефона</h2>
        <input-validate class="input-reg user-number">
            <input id="club-card" type="tel" placeholder="Номер телефона" ng-model="vm.phone" ng-focus="vm.phone = vm.phoneNumberLayout" ng-blur="vm.phoneNumberLayout = vm.phone"/>
        </input-validate>
        <button id="submit-button" type="button" class="button" ng-click="vm.recoveryPassword()">Далее</button>
        <div class="comment" ng-show="vm.connectionError">Ошибка связи</div>
        <div class="comment" ng-show="vm.numberIsNotRegistred">Номер не зарегистрирован</div>
    </form>
</div>