<div class="popup-change">

  <div class="change-name">
    <input-validate class="input-reg user-number">
      <input type="text" ng-model="vm.userName" autofocus/>
    </input-validate>
    <button class="button" ng-click="vm.userChange('name')">Изменить</button>
  </div>

  <div class="change-email">
    <input-validate class="input-reg user-email">
      <input type="email" ng-model="vm.userName" autofocus/>
    </input-validate>
    <button class="button" ng-click="vm.userChange('email')">Изменить</button>
  </div>

  <div class="change-password">
    <input-validate class="input-reg user-number">
      <input type="password" ng-model="vm.userName" autofocus/>
    </input-validate>
    <button class="button" ng-click="vm.userChange('password')">Изменить</button>
  </div>

  <div class="change-phone">
    <input-validate class="input-reg user-number">
      <input type="tel" ng-model="vm.userName" autofocus/>
    </input-validate>
    <button class="button" ng-click="vm.userChange('phone')">Изменить</button>
  </div>

</div>