<div ng-controller="actionController">
<h1>Акции ресторана</h1>
<table>
    <tr>
        <td>Наименование</td>
        <td>Описание</td>
        <td>Картинка</td>
        <td>Время начала</td>
    </tr>
    <tr ng-repeat="a in action">
        <td>{{a.Name}}</td>
        <td>{{a.Description}}</td>
        <td>{{a.Image}}</td>
        <td>{{a.DateStart}}</td>
        <td>
            <a href="" ng-click="edit(a)">Редактировать</a>
            <a href="" ng-click="delete(a)">Удалить</a>
        </td>
    </tr>
</table>
    <a href="" ng-click="divAction()">Добавить</a>
    <div ng-show="newDivAction">
        <form>
            <div ng-hide="true">{{Action}}</div>
            <span>
                <input type="text" ng-model="name"/>
            </span><br/>
            <span>
                <textarea type="text" ng-model="description" ></textarea>
            </span><br />
            <span>
                <input type="text" ng-model="imageName" ng-hide="true"/>
                 {{imageName}}<br/>
                <input type="file" file-model="fileName" />
            </span><br />
            <span>
                <input type="date" ng-model="date" id="dateStart" />
            </span><br />
            <span>
                <a href="" ng-click="addUpdateAction()">Сохранить</a>
                <a href="" ng-click="cancel()">Отменить</a>
            </span>
        </form>
    </div>
</div>