<div ng-controller="newsController">
    <h1>Новости ресторана</h1>
    <table>
        <tr>
            <td>Наименование</td>
            <td>Краткое описание</td>
            <td>Описание</td>
            <td>Картинка</td>
            <td>Дата создания</td>
        </tr>
        <tr ng-repeat="n in news">
            <td>{{n.Name}}</td>
            <td>{{n.SmallDescription}}</td>
            <td>{{n.Description}}</td>
            <td>{{n.Image}}</td>
            <td>{{n.DateCreate}}</td>
            <td>
                <a href="" ng-click="edit(n)">Редактировать</a>
                <a href="" ng-click="delete(n)">Удалить</a>
            </td>
        </tr>
    </table>
    <a href="" ng-click="divNews()">Добавить</a>
    <div ng-show="newDivNews">
        <form>
            <div ng-hide="true">{{Action}}</div>
            <span>
                <input type="text" ng-model="name" />
            </span><br />
            <span>
                <textarea type="text" ng-model="smallDescription"></textarea>
            </span><br />
            <span>
                <textarea type="text" ng-model="description"></textarea>
            </span><br />
            <span>
                <input type="text" ng-model="imageName" ng-hide="true" />
                {{imageName}}<br />
                <input type="file" file-model="fileName" />
            </span><br />           
            <span>
                <a href="" ng-click="addUpdateNews()">Сохранить</a>
                <a href="" ng-click="cancel()">Отменить</a>
            </span>
        </form>
    </div>
</div>