<div ng-controller="productController">
    <h1>Продукты ресторана</h1>
    <table>
        <tr>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Описание</td>
            <td>Номер</td>
            <td>Фото</td>
            <td>Вес</td>
        </tr>
        <tr ng-repeat="p in product.ProductList">
            <td>{{p.Name}}</td>
            <td>{{p.Price}}</td>
            <td>{{p.Description}}</td>
            <td>{{p.Number}}</td>
            <td>{{p.Image}}</td>
            <td>{{p.Weight}}</td>
        </tr>
    </table>
</div>