@charset "UTF-8";
body {
  font-size: 12px;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-text-size-adjust: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: open-sans; }

a {
  text-decoration: none; }

input[type="submit"] {
  cursor: pointer; }

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px; }

input[type=number] {
  -moz-appearance: textfield; }

body {
  font-size: 12px; }

@media screen and (min-width: 240px) and (max-width: 320px) {
  body {
    font-size: 12px; } }
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 13px; } }
@media screen and (min-width: 480px) and (max-width: 700px) {
  body {
    font-size: 14px; } }
@media screen and (min-width: 700px) and (max-width: 900px) {
  body {
    font-size: 16px; } }
@media screen and (min-width: 900px) and (max-width: 1100px) {
  body {
    font-size: 18px; } }
@media screen and (min-width: 1100px) and (max-width: 1300px) {
  body {
    font-size: 20px; } }
@media screen and (min-width: 1300px) {
  body {
    font-size: 22px; } }
/*landscape*/
/*portrait*/
.mark {
  color: #98e669; }

.wrap {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #F2F2F4; }
  .wrap .nav {
    position: absolute;
    background-color: #494948;
    top: 0;
    width: 70%;
    height: 100%;
    right: -100%;
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.392);
    z-index: 100; }
    .wrap .nav .header-menu {
      display: block;
      height: 50px;
      width: 100%;
      left: auto;
      border-radius: 0;
      background-color: #333333;
      background-image: url("../img/menu.png");
      background-repeat: no-repeat;
      background-size: auto 66%;
      background-position: 1em 50%;
      margin-bottom: 40px;
      cursor: pointer; }
    .wrap .nav li {
      position: relative;
      display: block;
      color: #ffffff;
      font-size: 1.4em;
      padding: 0.5em 0;
      list-style-type: none;
      width: 24em;
      left: 0.5em;
      border-radius: 100px 0 0 100px;
      transition: all 0.3s; }
      .wrap .nav li img {
        position: relative;
        height: 1.4em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-bottom: -.3em; }
    .wrap .nav li:hover {
      background-color: #5f5f5e; }
    .wrap .nav .badge {
      position: absolute;
      display: inline-block;
      text-align: center;
      color: #ffffff;
      width: 20px;
      height: 20px;
      padding: 3px 0px;
      margin: -5px 5px;
      border-radius: 100px;
      background-color: #ffffff;
      font-size: 12px; }
  .wrap .nav:before {
    width: 100%;
    display: block;
    content: ""; }

#menu {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 3.8em;
  background: #1e1e1e;
  z-index: 100;
  text-align: center;
  /*  .menu:hover {
      background-size: auto 100%;
    }*/
  /*  .home:hover {
      background-size: auto 80%;
    }*/
  /*  .logo:after {
      position: absolute;
      display: block;
      width: 200px;
      left: 50px;
      top: 20px;
      content: "Лого и название клуба";
      color: $regText;
    }*/ }
  #menu .menu, #menu .home, #menu .logo {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 45px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  #menu .menu {
    position: absolute;
    right: 1em;
    background-image: url("../img/menu.png");
    background-size: auto 66%;
    transition: background-size, 0.3s;
    -webkit-transition: background-size, 0.3s; }
  #menu .logo {
    position: absolute;
    top: 0;
    left: 0; }
  #menu .home {
    padding: 1.4em 0;
    font-size: .8em;
    width: 60%;
    margin: auto;
    transition: background-size, 0.3s;
    -webkit-transition: background-size, 0.3s;
    font-family: "open-sans";
    color: white;
    font-weight: bold;
    text-transform: uppercase; }
  #menu .logo {
    background-image: url("../img/logo.png");
    background-size: auto 70%;
    background-position: 10% center;
    width: 160px; }

#people,
#people-zoom,
#people-zoom-popup,
#chat {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  padding: 3.8em 0 0;
  overflow: auto; }

#people-zoom-popup {
  display: none; }

@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: open-sans-bold;
  src: url(../fonts/OpenSans-Bold.ttf); }

/*# sourceMappingURL=main_chat.css.map */
