/*---------------WEB part--------------------------*/

#registration{ 
  input {
    margin: 0px 0 15px;
    width: 100%;
  }
  input[type="submit"] {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    margin: 0;
  }
}

#welcome, .welcome-screen {
  @extend .common;
    > h1 {
    color: $regText;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0;
    text-transform: uppercase;
  }
  p {
    text-align: left;
    font-size: 1.2em;
    margin: .5em 3% .5em;
  }
  button {
    position: relative;
    display: inline-block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    top: 80%;
    color: $regText4;
    font-size: 1em;
    padding: 0.7em 1.5em 0.7em;
    border-radius: 500px;
    background-color: $regText2;
    cursor: pointer;
  }
  button img {
    height: 1.2em;
    width: 1.2em;
    margin-bottom: -0.2em;
    margin-left: 0.5em;
  }
  .logo {
    position: absolute;
    display: block;
    width: 100%;
    height: 20%;
    top: 6%;
    background-image: url("../img/entrance/main-logo-loder-white.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .picture {
    position: absolute;
    display: block;
    width: 100%;
    height: 27%;
    top: 40%;
    background-image: url("../img/free.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
#ad, #landing, {
  button {
    position: absolute;
    height: 47px;
    width: 200px;
    padding: 0 0;
    right: 0;
    bottom: 0;
    margin-bottom: 60px;
  }
}
#ad { 
  a:last-child button {
    margin-bottom: 0px;
  }
}
#landing{
  h1 {
    text-align: center;
  }
  button {
    margin: 0;
  }
}
/*----------------club-page-----------------------*/
.home-screen {
  @extend .common;

  background-image: none;
  background-color: #ffffff;
  .name-of-club {
    font-size: 1.2em;
    padding: 1.5em 1em;
    font-family: Roboto-Light;
    letter-spacing: .04em;
    text-align: center;
    background-color: #2f2f2f;
    color: #ffffff;
  }
  .slider-wrap {
    width: 100%;
    background-color: #2f2f2f;
  }
  .description {
    padding: .92em 1.67em;
    color: #535151;
    font-family: $textT;
    font-size: 1.08em;
    span {
      font-size: 1.2em;
      line-height: 1.4;
    }
  }
}
.menu-screen {
  @extend .common;

  .product {
    display: block;
    min-height: 11.85em;
    padding: 2em 0 .5em;
    background-color: $regText4;
    &:last-child {
      padding-bottom: 5em;
    }
    .image {
      display: inline-block;
      width: 7.8em;
      height: 7.8em;
      margin: 0.2em 0 1em 0.5em;
      border-radius: 5px;
      border: 1px solid #fff;
      background-color: $regText2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .info {
      position: relative;
      display: inline-block;
      width: 60%;
      min-height: 9em;
      padding: 0 0.6em 3em;
      vertical-align: top;
      font-family: $textT;
      .name {
        font-size: 1.47em;
        color: $regText2;
      }
      .price {
        font-size: 1.3em;
        margin-top: .3em;
      }
      .weight {
        font-size: .9em;
        margin: .6em 0 0;
      }
      .order {
        position: absolute;
        bottom: 0;
        float: right;
        width: 100%;
        span {
          font-size: 1.47em;
          color: $regText2;
          display: none;
        }
        input[type="number"] {
          font-size: 1.45em;
          margin-left: .7em;
          width: 1.35em;
          height: 1.35em;
          text-align: center;
          display: none;
        }
        button {
          font-size: 1em;
          margin-left: .3em;
          padding: 0 .3em;
          vertical-align: top;
          font-family: $textT;
          float: right;
        }
      }
      .to-favorites {
        background-image: url("../img/like-star.png");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: left center;
        height: 2.5em;
        width: 2.5em;
        position: absolute;
        bottom: 3em;
        right: 0em;
        &.out-of-favorites {
          background-position: right center;
        }
      }
    }
  }
}
.menu-last-screen {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:Roboto-Light;
  padding-top: 3.8em;
  padding-bottom: 3.8em;
  overflow: hidden;
  overflow-y: auto;
  color: #000;
  .photo {
    margin: 1em auto;
    height: 15em;
    width: 15em;
    border-radius: 5px;
    background-color: #8c0829;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2em;
    border-bottom: 1px solid #c5c5c5;
  }
  .main-content {
    position: relative;
    padding: 1em 0em 1em;
    width:100%;
    .name {
      text-align: left;
      padding-right: 4em;
      padding-left: 1em;
      font-size: 1.5em;
      font-weight: 100;
      color: #8c0728;
      font-family: Roboto-Light;
      margin-bottom: 1em;
    }
    .like {
      background-image: url("../img/like-star.png");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: left center;
      height: 3em;
      width: 3em;
      position: absolute;
      top: 1em;
      right: 2em;
      &.out-of-favorites {
        background-position: right center;
      }
    }
    .description {
      color: #b5b5b4;
      font-size: 1.4em;
      line-height: 1.2em;
      margin:0 1.5em;
    }
    .price-block {
      overflow: hidden;
      height: 3em;
      width:100%;
      margin:1em auto 1.5em;
      padding-top:1em;
      position: relative;
      .content {
        margin-top: 1em;
        width: 58%;
        position: absolute;
        left:50%;
        top:50%;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        height:4em;
        .price-product, .price-product-number {
          display: inline-block;
          float: left;
          height:3em;
          vertical-align: top;
        }
        .price-product {
          margin-right: 0.2em;
          font-size: 1.3em;
          margin-left: 0.7em;
          vertical-align: top;
        }
        .price-product-number {
          color:#8c0728;
          font-size:1.3em;
          margin-right: 0.5em;
        }
        div {
          float: left;
          margin-right: 1em;
          display: inline-block;
          input {
            width: 1.8em;
            height: 1.8em;
            border: 1px solid #000;
            display: inline-block;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            text-align: center;
            font-size: 1.2em;
            color: #8c0728;
            position: relative;
            bottom: 0.2em;
          }
        }
      }
    }
  }
  .button, .button_no-hover {
    font-size: 1.3em;
    height: 3em;
    display: block;
    margin: 0 auto;
    width: 86%;
  }
}
.order-screen {
  @extend .common;

  background-color: #fff;
  background-image: none;
  overflow: hidden;
  overflow-y: auto;
  color: #535151;
  .comment {
    color: #535151;
    margin: 0 1em;
    font-weight:100;
  }
  .header-red-block {
    h2 {
      text-align: center;
    }
  }
  .main-content {
    width: 100%;
    margin: 0 auto 1.5em;
    padding: 1em 0;
    .orders-block {
        border-top: 1px solid rgba(0, 0, 0, 0.41);
      &.first {
        border-top: none;
      }
      &:after {
        //content: "Дозаказано..."
      }
    }
    .items {
      padding-bottom: 1.5em;
      .order-status {
        padding: .2em .5em;
        margin-bottom: 1em;
        -webkit-box-shadow: inset 0px 11px 23px -10px rgba(140, 8, 41, 0.5);
        -moz-box-shadow: inset 0px 11px 23px -10px rgba(140, 8, 41, 0.5);
        box-shadow: inset 0px 11px 23px -10px rgba(140, 8, 41, 0.5);
      }
      .cart-item, .item {
        position: relative;
        margin-bottom: 1em;
        .img-order {
          display: inline-block;
          height:7em;
          width:7em;
          margin-left:0.5em;
          float: left;
          border-radius: 5px;
          border: 1px solid #fff;
          background-color: #8c0829;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .order-description {
          display: inline-block;
          float: left;
          margin-left: 0.8em;
          width:37%;
          h3 {
            color: #8c0728;
            font-family: Roboto-Light;
            font-weight: 100;
            font-size: 1.5em;
          }
          .order-price {
            font-size: 1.4em;
            margin-top:0.3em;
          }
          .order-weight {
            font-size: 1.3em;
            margin-top:0.3em;
          }
        }
        .quantity {
          width: 27%;
          float: right;
          height: 2em;
          margin-top: 4em;
          .counter, .count-number, .cart-count-number {
            float: left;
            border:1px solid #8c0728;
            -webkit-border-radius:100px;
            -moz-border-radius:100px;
            border-radius:100px;
            height:2em;
            width:2em;
            background-color: #8c0728;
            color: #fff;
            text-align: center;
            margin-right:0.2em;
            cursor: pointer;
            &:after {
              content: '';
              display: inline-block;
              vertical-align: middle;
              height:100%;
            }
          }
          .counter {
            background-repeat: no-repeat;
            -webkit-background-size: 70% auto;
            background-size: 70% auto;
            background-position: center center;
            &.minus {
              background-image: url("../img/minus.jpg");
            }
            &.plus {
              background-image: url("../img/plus.png");
            }
          }
          .count-number, .cart-count-number {
            font-size: 1em;
            background-color: transparent;
            color:#8c0728;
            width: 2em;
            height: 2em;
            vertical-align: top;
          }
        }
        .delete-from-cart {
          position: absolute;
          top: 0;
          right: 1em;
          display: inline-block;
          width: 4em;
          height: 4em;
          border: none;
          background-image: url(../img/cart_delete.png);
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: right top;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
    .summ-common {
      text-align: center;
      font-size:1.7em;
      font-weight:100;
      font-family:Roboto-Light;
      margin-top: 1em;
      margin-bottom:1em;
    }
    .order-variant {
      padding: 0 0.5em 1.5em 1em;
      width:50%;
      border-right:1px solid #000;
      display: inline-block;
      float: left;
      label + span {
        width: 60%;
        float: left;
        display: inline-block;
        margin-left: 0.5em;
        margin-top: 0.35em;
      }
     .order-variant-1, .order-variant-2, .order-variant-3 {
        margin-bottom:1em;
      }
      .text {
        width: auto;
      }
    }
    .order-time {
      padding: 0em 0em 1.5em 0.4em;
      width:48%;
      display: inline-block;
      float: right;
      label {
        overflow: hidden;
        .box {
          margin: 0 0 0 .4em;
        }
        .description {
          margin-top: 0.2em;
          margin-left: 0.8em;
          float: left;
          width: 63%;
        }
      }
      .input-block {
        margin-top: 4em;
        .hour, .minutes {
          border: 2px solid #8c0728;
          width: 1.5em;
          height: 1.5em;
          text-align: center;
          display: inline-block;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          font-size: 2.5em;
          color: #8c0728;
          font-family: Roboto-Light;
          font-weight:100;
        }
      }
      .minutes {
        margin-left: 0.7em;
      }
    }
    .table {
      padding: 0em 0em 1.5em 0.4em;
      width:48%;
      display: inline-block;
      float: right;
      input {
        font-size: 2em;
        width: 1.5em;
        height: 1.2em;
        border: 2px solid #9c022a;
        border-radius: .2em;
        text-align: center;
      }
      div {
        display: inline-block;
        margin-left: .2em;
      }
    }
    .button, .button_no-hover {
      width: 80%;
      display: block;
      margin: 1em auto 1em;
      height: auto;
      font-size: 1.5em;
      position: relative;
      text-align: center;
      font-weight: 100;
      font-family: Roboto-Light;
      height: auto;
      padding: 0.5em .5em .5em 0.5em;
      &.phone {
        padding-left: 2.3em;
        background-image: url("../img/button-tellephone.png");
        background-repeat: no-repeat;
        background-position: 11% center;
        background-size: auto 65%;
      }
    }
    .payment-variantes {
      padding: 1em;
      .variant {
        display: block;
        margin: 1em 0;
      }
    }
  }
}
.js-loading #club-page{
  opacity: 0;
  ul {
      opacity: 0;
  }
}
.about-screen {
  @extend .common;
  color: #535151;
  background-image: none;
  background-color: #2f2f2f;
  .picture {
    margin: 0 1.8em;
    position: relative;
    z-index: 10;
    overflow: hidden;
    -ms-touch-action: none;
  }
  .information-about-club {
    font-family: $textM;
    color: #535151;
    .header {
      font-weight: normal;
      font-size: 1.07em;
      padding: 1.31em 1.6em;
      background-color: #f2f2f2;
      color: #000;
      margin: 0;
      &.after {
        content: '';
        display: inline-block;
        height:100%;
        vertical-align: middle;
      }
    }
    span, p {
      color: #535151;
      line-height: 1.5;
    }
    ul {
      li {
        font-size: 1.05em;
        color: #3f3e3e;
      }
    }
  }
  .about-description {
      padding: 1.5em 1.6em;
      line-height: 1.2;
      color: #535151;
      > div, p, span {
        font-size: 1.2em;
        line-height: 1.4;
      }
    .button {
      margin-top:1em;
    }
  } 
  .info {
    position: relative;
    background-color: $background;
    min-height: 76%;
    //padding-bottom: 3em;
  }
  .subtitle {
    font-weight: normal;
    // color: $regText2;
    background-color: #f2f2f2;
    font-family: $textM;
    font-size: 1.05em;
    padding: 1em;
  }
  .first{
    padding: 0;
  }
  p[contenteditable]{
    padding: 1em;
    margin-bottom: 1em;
  }
}
#personnel-categories, .personnel-categories-screen {
  @extend .common;

  background-image: url(../img/bg_personnel.jpg);
  .wrap-of-categories {
    background-color: $background;
    min-height: 10em;
    padding-bottom: 3em;
  }
  .category {
    cursor: pointer;
    position: relative;
    @extend .display-flex;
    @extend .flex-dir-ver;
    @extend .flex-align-along-center;
    @extend .flex-align-across-start;

    height: 6.14em;
    padding: 0.3em 2.8em 0.3em 4.3em;
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    background-image: url(../img/personnel-list.png), url(../img/personnel-list2.png);
    background-size: .9em, .71em;
    background-position: 1.75em center, 94% center;
    background-repeat: no-repeat;
  }
  .name-of-category {
    display: block;
    font-size: 1.15em;
    font-family: $textM;
    margin: 0 0 0;
    line-height: 1;
    color: $regText;
  }
  .description {
    position: relative;
    display: block;
    font-size: .91em;
    margin-top: .4em;
    max-height: 4em;
    padding: .1em;
    color: #7f7f7f;
    line-height: 1;
    width: 100%;
    overflow: hidden;
  }
  .discription:after {
    content: "";
    position: absolute;
    display: block;
    height: 1.4em;
    width: 1.5em;
    right: 1em;
    bottom: 2em;
    background-image: url("../img/arrow_green.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
#personnel, .personnel-screen {
  @extend .common;

  background-image: url(../img/bg_personnel.jpg);
  .category {
    height: 3em;
    width: 100%;
    font-size: 1.38em;
    padding: 1em 1.2em 0;
    font-family: $textM;
    color: $regText;
    line-height: 1;
    background-color: #f2f2f2;
    font-weight: normal;
    z-index: 5;
  }
  .wrap-of-personnel {
    min-height: 50%;
    background-color: $background;
  }
  .employee {
    @extend .display-flex;
    @extend .flex-dir-ver;
    @extend .flex-align-along-center;

    position: relative;
    width: 100%;
    height: 8.57em;
    padding: 0 2.5em 0 8.1em;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
    background-image: url(../img/personnel-list2.png);
    background-size: .71em;
    background-position: 96% center;
    background-repeat: no-repeat;
    .employee-img {
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: 5em;
      height: 5em;
      margin: 1.5em 1.5em;
      border-radius: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../img/no_photo.jpg");
    }
    .text-block {
      position: static;
      display: inline-block;
      color: $regText;
      text-align: left;
    }
    .text-block .name {
      font-size: 1.1em;
      font-family: $textM;
    }
    .text-block .position {
      font-size: .91em;
      margin-top: .38em;
      font-family: $textM;
      color: #7f7f7f;
    }
  }
}
#employee, .employee-screen {
  @extend .common;

  font-family: $textM;
  background-image: url(../img/bg.jpg);
  .photo-zoom {
    display: block;
    margin: 0 auto 1.75em;
    width: 23.2em;
    height: 18.75em;
    border-radius: .3em;
    background-image: url(../img/no_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .info-section {
    background-color: $background;
    min-height: 17em;
    padding-bottom: 3em;
    .info-part {
      .info-header {
        font-size: 1.06em;
        padding: 1.32em 1.6em;
        font-family: $textM;
        background-color: #f2f2f2;
      }
      .info-block {
        font-size: 1.1em;
        margin: 1.7em 0;
        padding: 0 1.6em;
        letter-spacing: .01em;
        line-height: 1.2;
        font-family: $textM;
      }
    }
  }
}
#albums, .albums-screen {
  @extend .common;
  > h1 {
    color: $regText;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0;
    text-transform: uppercase;
  }
  p {
    text-align: center;
    font-size: 1.2em;
    margin: .5em 3% .5em;
  }
  .album {
    position: relative;
    width: 92%;
    height: 16.75em;
    left: 4%;
    overflow: hidden;
    margin-top: 0.5em;
    text-align: center;
    img {
      display: inline-block;
      height: 100%;
    }
  }
  .shade {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
    margin-top: 0em;
    background-color: rgb(0,0,0);
    opacity: 0.7;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
  }
  .shade:hover {
    opacity: 0;
  }
  .album:hover .shade {
    opacity: 0;
  }
  .title {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    font-size: 1.1em;
    color: $regText;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
  }
  .title > span:first-child {
    display: none;
    color: $regText2;
    font-family: $textM;
  }
  .title > span:last-child {
    display: block;
    color: $regText;
    font-family: $textM;
    padding: 0.7em;
  }
  .address {
    position: absolute;
    display: none;
    bottom: 5%;
    left: 5%;
    color: $regText3;
    z-index: 10;
  }
  .address > span:first-child {
    display: block;
    font-size: 1em;
  }
  .address > span:last-child {
    display: block;
    font-size: 1em;
  }
  .more {
    position: absolute;
    display: none;
    height: 2em;
    z-index: 10;
    bottom: 1em;
    right: 1em;
    img {
      height: 100%;
      width: auto;
    }
  }
  > a > div {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    width: 94%;
    margin: -2px 3%;
    border: 2px solid $dividerColor;
    cursor: pointer;
  }
  > a > div > img {
    display: block;
    max-width: 100%;
    max-height: 270px;
    margin: auto;
  }
  > a span {
    position: relative;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 5px 0;
    color: $regText;
    font-size: 16px;
    text-align: center;
    border-width: 2px 0px 0px 0px;
    border-color: $dividerColor;
    border-style:solid;
  }
}
#album, .album-screen {
  @extend .common;
  #submit-all {
    max-width: 96%;
    padding: 1.25em 1em 1.25em;
  }
  .dropzone {
    background-color: #ffffff;
    background-image: url(../img/dropzone.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 20em;
    overflow-y: auto;
  }
  .dz-drag-hover {
    background-image: none;
  }
  .dz-started {
    background-image: none;
  }
  > h1 {
    color: $regText;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0;
    margin-top: 1em;
    text-transform: uppercase;
  }
  p {
    text-align: left;
    font-size: 1.2em;
    margin: .5em 3% .5em;
  }
  > div {
    padding: 0 0 0 0;
  }
  .photo-zoom {
    position: absolute;
    display: block;
    top: 0;
    padding: 8.8em 0 0;
    width: 100%;
    height: 80%;
    text-align: center;
    z-index: 50;
    overflow: hidden;
    .inner {
      position: relative;
      display: block;
      text-align: left;
      height: 100%;
      min-width: 300%;
    }
    img {
      position: relative;
      top: 0;
      max-height: 100%;
      max-width: 30%;
      margin: 0 0.5em;
      vertical-align: top;
    }
    .current, .prev, .next {
      position: relative;
    }
    .text-of-photo {
      position: absolute;
      background-color: rgba(0,0,0, 0.7);
      height: 3em;
      width: 100%;
      bottom: 0;
      font-size: 1em;
      padding: 0.6em 0em;
      text-align: center;
      color: $regText;
    }
  }
  .wrap-of-photos {
    position: absolute;
    display: block;
    bottom: 0;
    height: 19%;
    width: 98%;
    left: 1%;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scrolling-block {
    min-width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  .photo {
    position: relative;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0 1px 0.5em 0;
    cursor: pointer;
    border: 2px solid $regText3;
    transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    vertical-align: top;
    text-align: center;
  }
  .selected {
    height: 100%;
    border: 2px solid $regText2;
  }
  .wrap-of-photos img {
    height: 100%;
    margin: auto;
  }
  .remove, .delete {
    position: absolute;
    display: inline-block;
    height: 2em;
    width: 2em;
    top: 0em;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
  }  
  .remove {
    left: 0em;
    background-image: url("../img/edit.png");
  }
  .delete {
    right: 0em;
    background-image: url("../img/cross_ch.png");
  }
}

#feedback-popup, .regular-popup {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: $text;
  background-color: rgba(0,0,0,.7);
  z-index: 500;
  .wraper {
    width: 23.4em;
    padding: 0 1.6em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
            transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #ffffff;
  }
  div.img, img {
    margin: 3em auto 1.3em;
    display: none;
    height: 4em;
    width: 4em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  h1 {
    width: 100%;
    margin-bottom: .5em;
    color: $regText;
    text-align: center;
    font-size: 1.73em;
    font-weight: normal;
    text-transform: none;
  }
  p {
    width: 100%;
    text-align: center;
    font-size: 1.05em;
    margin: 0 0 2.5em;
  }
  .button {
    font-size: 1.09em;
    display: inline-block;
    width: 8em;
    margin: 0 auto 2.3em;
    padding: 0 1em;
    height: 3em;
    border-radius: .2em;
    border: none;
    color: white;
    &.transparent {
      background-color: transparent;
      border: 1px solid #ababab;
      color: black;
    }
    &.block {
      display: block;
      margin: 0 auto 1.5em;
      width: 14em;
    }
  }
  &.all-good {
    div.img, img {
      display: block;
      background-image: url(../img/popup-success.png);
    }
  }
  &.all-bad {
    div.img, img {
      display: block;
      background-image: url(../img/popup-melancholy.png);
    }
  }
  &.ask {
    div.img, img {
      display: block;
      background-image: url(../img/popup-ask.png);
    }
  }
}
/*----------------action------------------*/
#promotion, #privileges-action {
  @extend .common;

  font-size: 1.1em;
  line-height: 1.2;
  text-align: left;
  > p, > div {
    margin: .5em 3% .5em;
    text-align: left;
  }
  > h1 {
    color: $regText;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0;
    text-transform: uppercase;
  }
  .video {
    width: 98%;
    min-height: 10em;
  }
  h1 {
    font-size: 1.4em;
    margin: 1em 0;
  }
  embed {
    position: relative;
    max-width: 94%;
    height: 14em;
  }
  .picture {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    -ms-touch-action: none;
  }
  .button {
    margin: 1em auto 1em;
    width: 8.5em;
    padding: 1.25em .5em 1.25em 1em;
    display: block;
  }
  .entry-description,
  .note-editor {
//    -webkit-user-modify: read-write;
    word-wrap: break-word;
    -webkit-line-break: after-white-space;
    img {
      position: relative;
      max-width: 100%;
      display: block;
      margin: .5em 0;
    }
    h1 {
      color: $regText;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      margin: 2em 0;
      text-transform: uppercase;
    }
  }
}
/*----------------action------------------*/

.join-club {
  @extend .common;
  @extend .common-flex;

  text-align: left;
  padding: 3.95em 0 1.3em;
  form {
    padding: 1.9em 1.75em 0;
    width: 100%;
    flex-shrink: 0;
    .big-text {
      margin-top: 0;
    }
    .input-wrap {
      width: 100%;
    }
    .input-reg {
     height: 4em;
     width: 100%;
     margin-top: .3em;
     padding: 1.3em 0 0 3em;
     background-repeat: no-repeat ;
     background-position: left center;
     background-size: auto 42%;
      input {
       width: 100%;
       font-size: 1.17em;
       padding: 0 0 .7em;
       background: none;
       display: inline-block;
       border: none;
       border-bottom: 1px solid #5a4f60;
       color: white;
       font-family: $textM;
      }
    }
    .button {
      display: block;
      margin: 1.35em 0 0;
    }
    div.validate-ok,
    div.validate-error {
      margin: 0em 0 -.7em -3em;
    }
  }
}

#more {
  p {
    text-align: center;
    margin-top: 15px;
  }
}
/*---------List of clubes выпадайка------------*/
.club-select-screen {
  @extend .common;

  background: #ffffff;
  .header-next {
    color: #000000;
  }
  .map {
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-color: #222222;
    border-bottom: 2px solid #d9d9d9;
  }
  .scrolling-block {
    width: 100%;
    padding-bottom: 2em;
  }
  .club {
    display: block;
    position: relative;
    width: 100%;
    min-height: 5.7em;
    padding: 1.6em 6em 1em 3em;
    overflow: hidden;
    margin-top: 0em;  
    border-bottom: 1px solid #f3f3f4;
    text-align: left;
    background-color: #ffffff;
    cursor: pointer;
    &.current {
      .title {
        color: #8C0829;
      }
      .address {
        color: #8C0829;
      }
    }
    .title {
      display: inline-block;
      font-size: 1.4em;
      letter-spacing: 0;
      width: 100%;
      z-index: 10;
      text-align: left;
      margin-bottom: .4em;
      font-family: $textT;
      color: #6f6c6c;
    }
    .address {
      font-size: .8em;
      font-family: $textT;
      color: #6f6c6c;
    }
    .prices {
      position: relative;
      span {
        font-size: .9em;
      }
    }
    .distance-block {
      width: 6em;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
    }
    .distance {
      font-size: .8em;
      position: relative;
      display: block;
      width: 100%;
      top: 4em;
      font-family: $textT;
      color: #6f6c6c;
    }
  }
  #location-map {
    height: 100%;
    width: 100%;
  }
  #location-map #map.map-location {
    position: relative;
    z-index: 2;
  }
  .back-map .button_margin {
    margin-top: 0.5em;
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    z-index: 800;
    height: 3em;
    width: 9em;
  }
}
.club-map-screen {
  @extend .common;

  background: #ffffff;
  overflow: hidden;
  height: 100%;
  .header-next {
    color: #000000;
  }
  .map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222222;
    border-bottom: 2px solid #d9d9d9;
  }
  .club {
    display: block;
    position: absolute;
    bottom: $bottomMenuHeight;
    width: 100%;
    min-height: 5.7em;
    padding: 1.6em 6em 1em 3em;
    overflow: hidden;
    margin-top: 0em;  
    border-bottom: 1px solid #f3f3f4;
    text-align: left;
    background-color: #ffffff;
    .title {
      display: inline-block;
      font-size: 1.4em;
      letter-spacing: 0;
      width: 100%;
      color: $regText;
      z-index: 10;
      text-align: left;
      margin-bottom: .4em;
      font-family: $textT;
      color: #6f6c6c;
    }
    .address {
      font-size: .8em;
      font-family: $textT;
      color: #6f6c6c;
    }
  }
}
/*------------------action----------------*/
#action, .action-screen {
  @extend .common;
  // @extend .common-flex;
  
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-image: url("../img/feedback-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: #ffffff;
  .promotion {
    margin: 3em 1.75em 0 1.75em;
    text-align: center;
    display: box;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    height: auto;
    max-width: 100%;
    border: 1px solid $border-color;
    img {
        height: auto;
        max-width: 100%;
    }
    span {
       display: inline-block;
       font-size: 1.8em;
       color: white;
    }
  }
  .button {
    width: 21em;
    height: 4em;
    border-radius: 42px;
    color: #ffffff;
    border: none;
    margin-bottom: 1.3em;
    margin-top: 0.5em;
  }
  .social-buttons {
    text-align: center;
    margin-top: 1.7em;
      .social-twitter {
        display: inline-block;
        margin-left: 0.2em;
        width: 4.5em;
        height: 4.5em;
        background-image: url("../img/social-twitter.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

      }
      .social-facebook {
        display: inline-block;
        margin-left: 0.6em;
        width: 4.5em;
        height: 4.5em;
        background-image: url("../img/social-facebook.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .social-vk {
        display: inline-block;
        width: 4.5em;
        height: 4.5em;
        margin-left: 0.6em;
        background-image: url("../img/social-vk.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
  }
}
.shares-screen {
  @extend .common;

  background: #ffffff;
  color: #000;
  .main-content {
    padding: 1em 1em;
    .item {
      .details {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: all .5s;
      }
      &.details {
        .details {
          max-height: 100em;
          margin-bottom: 1.5em;
          font-size:1.25em;
        }
      }
    }
    .shares-img {
      height: 12em;
      width: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
    }
    .shares-img + p {
      margin-top:0.5em;
    }
      p {
        color: #3b3b3b;
        font-size: 1.2em;
        line-height: 1.3em;
        padding: 0.2em 0.5em 1.5em;
        .more {
          color: $regText2;
          text-decoration: underline;
        }
      }
  }
}
.bonus-screen {
  font-family:Roboto-Light;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url(../img/bg_main.jpg);
  background-position: top center;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 3.8em;
  padding-bottom: 3.8em;
  overflow: hidden;
  overflow-y: auto;
  h3 {
    text-align: center;
    color: #fff;
    font-family: Roboto-Light;
    font-weight:100;
    margin-top:1em;
  }
  .piggy-bank {
    width: 100%;
    height: 7em;
    display: block;
    background-image: url("../img/bonus-piggy-bank.png");
    background-repeat: no-repeat;
    -webkit-background-size: auto 70%;
    background-size: auto 70%;
    background-position: center center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .my-bonus {
    padding:0 2em;
    color: #fff;
    text-align: center;
    span {
      font-size:1.3em;
      font-family:Roboto-Light;
      display: inline-block;
      float: left;
      &:nth-last-of-type(1){
        float: right;
        margin-right:1.5em;
      }
    }
    p {
      padding-top: 3em;
      font-size: 1.3em;
      line-height: 1.4em;
      text-align: left;
    }
  }
  .button {
    margin: 1em;
  }
}
.feedback-screen {
  @extend .common;

  color: #fff;
    .main-content {
      width: 85%;
      margin: 0em auto 1.5em;
      padding: 1em;
      h2 {
        font-weight:100;
        text-align: center;
        margin-bottom:0.7em;
        font-family:Roboto-Light;
      }
      p {
        text-align: center;
        margin: 1em 0;
        font-size:1.4em;
      }
      input, textarea {
        background-color: transparent;
        border: 1px solid #fff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0.5em 1.2em;
        display: block;
        width: 100%;
        color: #FFFFFF;
        font-size: 1.7em;
        margin-bottom: 1em;
        font-weight: 100;
        font-family:Roboto-Light;
        &.tell {
          font-size:1.7em;
          padding: 0.35em 1.2em;
        }
      }
      textarea {
        resize: none;
      }
      .button {
        font-family:Roboto-Light;
        width:100%;
        display: block;
        margin:0 auto;
        color: #fff;
        &.phone {
          padding-left: 2.3em;
          background-image: url("../img/button-tellephone.png");
          background-repeat: no-repeat;
          background-position: 11% center;
          -webkit-background-size: auto 65%;
          background-size: auto 65%;
        }
      }
      a {
        display: block;
        margin:0 auto;
      }
    }
}
.news-list-screen {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: $textT;
  padding-top: 3.8em;
  padding-bottom: 3.8em;
  overflow: hidden;
  overflow-y: hidden;
  color: #000;
  .header-red-block {
    h2 {
      text-align: center;
    }
  }
  .main-content {
    overflow-y: auto;
    margin-top: 1.5em;
    height:100%;
    .post {
      display: block;
      position: relative;
      padding: 0 1em;
      border-bottom: 1px solid #f2f2f2;
      .people-name {
        color: #8c0728;
        font-size: 1.5em;
        margin-bottom: 0.5em;
        margin-top:0.5em;
      }
      p {
        color: #000;
        line-height: 1.4em;
        width: 100%;
        padding-right:25%;
        padding-bottom:1em;
      }
      .post-date {
        position: absolute;
        right: 0.5em;
        bottom: 1.6em;
        font-size: 0.8em;
      }
    }
  }
  .push-review {
    position: absolute;
    bottom: 3.8em;
    left: 0;
    overflow: hidden;
    background-color: #eaeaea;
    width: 100%;
    padding: 0.5em 0.5em 1em 2em;
    textarea {
      display: block;
      float: left;
      height: 4.5em;
      width:60%;
      padding:0.5em;
      font-size:1.2em;
      resize: none;
    }
    .button {
      float: left;
      font-size: 0.9em;
      margin-top: 2em;
      margin-left: 0.5em;
      font-weight: 100;
      font-family: Roboto-Light;
      padding: 0 0.4em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }
  }
}
.news-screen {
  @extend .common;

  background: #ffffff;
  color: #000;
  .main-content {
    padding: 1em 1em;
    .name {
      font-size: 1.4em;
      text-align: left;
      padding: 0.8em 0.5em 0;
      color: #3b3b3b;
    }
    .shares-img {
      height: 12em;
      width: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
    }
      p {
        color: #3b3b3b;
        font-size: 1.2em;
        line-height: 1.3em;
        padding: 0.8em 0.5em;
        .more {
          color: $regText2;
          text-decoration: underline;
        }
      }
  }
}
.download-app-screen {
  @extend .common;
  .button {
    display: block;
    width: 14em;
    margin: 1em auto;
    position: relative;
    border:none;
  }
  .apple {
    &:before {
      position: absolute;
      left: 0.5em;
      top: 0;
      background-image: url(../img/download_apple.png);
      background-size: auto 70%;
    }
  }
  .google {
    &:before {
      position: absolute;
      left: 0.5em;
      top: 0;
      background-image: url(../img/download_google.png);
      background-size: auto 70%;
    }
  }
  .windows {
    &:before {
      position: absolute;
      left: 0.5em;
      top: 0;
      background-image: url(../img/download_windows.png);
      background-size: auto 64%;
    }
  }
}
.card-screen {
  @extend .common;

  .card-pop-up {
    background-color: #fff;
    width: 90%;
    margin: 1.5em auto 1.5em;
    padding: 1em;
    textarea:-moz-placeholder,
    input:-moz-placeholder {
      color: #888888;
      font-family: $textM;
    }
    textarea:-ms-input-placeholder,
    input:-ms-input-placeholder {
      color: #888888;
      font-family: $textM;
    }
    textarea::-webkit-input-placeholder,
    input::-webkit-input-placeholder {
      color: #888888;
      font-family: $textM;
    }
    .logo {
      width: 100%;
      height: 6em;
      background-image: url("../img/logo-card.png");
      background-repeat: no-repeat;
      -webkit-background-size: auto 75%;
      background-size: auto 75%;
      background-position: center center;
    }
    h2 {
      font-size: 1.2em;
      text-align: center;
      color: #292929;
      font-weight: 100;
      line-height: 1.6
    }
    .summ {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 0.5em;
      border-bottom: 1px solid #000;
      padding-left: 0.5em;
      margin-top: 0.5em;
      span {
        display: inline-block;
        font-size: 2.3em;
        font-weight: bold;
        color: #2c2c2c;
      }
    }
    .block-data {
      border: 1px solid #2c2c2c;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 1.5em 0;
      padding: 1em;
      overflow: hidden;
      p {
        margin-bottom: 1.5em;
      }
      .block-input-1, .block-input-2, .info-block, .save-card {
        overflow: hidden;
        &.clear-fix:before, &.clear-fix:after {
          content: "";
          display: table;
        }
        .clearfix:after {
          clear: both;
        }
        .clearfix {
          *zoom: 1;
        }
      }
      .block-input-1{
        margin-bottom:1em;
      }
       input {
        width: 23%;
        display: inline-block;
        float: left;
        border: none;
        padding-bottom: 0.2em;
        border-bottom: 1px solid #000;
        margin-right: 2%;
        font-size: 2em;
        text-align: center;
        &.float-right {
          float: right;
        }
      }
      .info-block{
        margin-bottom: 1em;
        .end-date {
          width: 50%;
          float: left;
        }

        .cw {
          width: 30%;
          float: right;
          margin-top: 0.5em;
          margin-right:0.5em;
          text-align: right;
        }
      }
    }
    .save-card {
      overflow: hidden;

      label {
        .box {
          margin-left:1em;
          float: left;
          margin-right:1em;
          display: inline-block;
          width: 2em;
          height: 2em;
          border: 1px solid #2f2f2f;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          border-radius: 100px;
          position: relative;
          &:after {
            content: '';
            width: 1.2em;
            height: 1.2em;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
          }
        }
        input[type="checkbox"] {
          display: none;
          &:checked + .box {
            &:after {
              background-color: #8c0728;
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
          }
        }
      }
      .save{
        margin-top:0.5em;
        float: left;
      }
      p{
        margin: 3em 0 1.5em 1em;
      }
      .email {
        border:none;
        border-bottom:1px solid #222222;
        padding-bottom:0.5em;
        margin-bottom:1em;
        width:100%;
        text-align: center;
        font-size: 1.3em;
      }
    }
    .block-button{
      overflow: hidden;
      margin-top:0.5em;
      .button {
        width:45%;
        float: left;
        padding:0;
        &.float-right {
          float: right;
        }
      }
    }
  }
  /////////popup-confirmed ////////
  .popup-confirmed {
    position: absolute;
    top:0;
    left:0;
    z-index:500;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0, 0.8);
    .main {
      text-align: center;
      padding: 1.5em 1.5em 2em;
      background-color: #fff;
      height: 26em;
      width: 80%;
      position: absolute;
      left: 50%;
      top: 11%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      .logo {
        background-image: url("../img/lock-img.png");
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size:auto 80%;
        background-size:auto 80%;
        height:5em;
        width:100%;
        margin-bottom:1em;
      }
      p {
        width:100%;
        margin:0 auto;
        line-height: 1.3em;
      }
      .forgot {
        text-align: left;
        margin-bottom:1em;
        color: #8c0728;
      }
      input {
        width:100%;
        padding:0.5em 1.5em;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        border:1px solid #8c0728;
        font-size: 1.4em;
        margin:1em 0;
      }
      .input-block {
        .button {
          display: inline-block;
          float: left;
          font-size: 1.4em;
          width:45%;
          padding: 0 0.5em;
          &:nth-of-type(2){
            float: right;
          }
        }
      }
    }
  }
}

.max-length {
  display: block;
  position: absolute;
  bottom: .2em;
  right: 1em;
  width: 8em;
}
//#welcome, #privileges, .privileges-screen must be deleted